# This file is for unifying the coding style for different editors and IDEs
# editorconfig.org
#
# This is the multi-language EBANX Code Style
# If you use this on your project you will automatically follow every approved Code Style from this repository

[*.{js,json,es6,coffe,babel,jsx}]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true